
<img class = "main" src="/images/add_box.png"/>
<form class = "edit" method="post" action="/cargos/save">
    <input type = "hidden" name = "saveMethod"
           value="{{#if isCreate}}create{{else}}update{{/if}}"/>
    <p>
        Key: {{ cargoKey}}
        <input type="hidden" name="cargoKey" value="{{cargoKey}}"/>
    </p>
    <p>
        Tracking number: <input type = "number" name="tracking_id"/><br/>
    </p>
    <p>
        Sender name: <input type = "text" name="from_name"/><br/>
    </p>
    <p>
        Receiver name: <input type = "text" name="to_name"/><br/>
    </p>
    <p>
        Sender address: <input type = "text" name="from_address"/><br/>
    </p>
    <p>
       Receiver address: <input type = "text" name="to_address"/><br/>
    </p>
    <p>
        Sender phone number: <input type = "number" name="from_number"/><br/>
    </p>
    <p>
        Receiver phone number: <input type = "number" name="to_number"/><br/>
    </p>
    <p>
        Cargo type: <input type = "radio" name="cargo_type" id="air-transport" value="air-transport"/>Air transport<br/>
        <input type = "radio" name="cargo_type" id="auto-transport" value="auto-transport"/>Auto transport<br/>
    </p>
    <p>
        Cargo size: <input type = "number" name="size"/><br/>
    </p>
    <p>
        Cargo price: <input type = "number" name="price"/><br/>
    </p>
    <p>
        <input type="hidden" name="cargoDate" value="{{cargoDate}}"/>
    </p>
    <textarea rows=5 cols=40 name="items"></textarea><br/>
    <input class="submit" type="submit" value="Submit"/>
</form>
