
<p>Are you sure you want to delete a cargo with a key {{cargoKey}}</p>

<a href="/cargos/delete?key={{cargoKey}}"><input type="button" value="Delete" ></a>
<a href="/cargos/viewall"> <input type="button" value="Go back"> </a>

