<header>
    <h1>{{title}}</h1>
    <div class="navbar">
        <p>
            <a href = "/">Home</a> |
            <a href = "/cargos/viewall">View all</a> |
            <a href = "/cargos/add"> Add Cargo</a>
        </p>
    </div>
</header>
